<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Yafla - Userfeed</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../static/css/main.css">

        <script src="../static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">YAFLA</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="container">
                <button id="logout" class="btn btn-md btn-success navbar-right navbar-btn" >Logout</button>
            </div>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <div class="container">
        <div class="col-md-8">
            {% for image in data %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{{image['url']}}"><img class="col-md-12" id=image_{{loop.index}} src="{{ image['url']}}"></a>
                </div>
                <div class="panel-footer clearfix">
                    {% if image['tags'] %}
                    <p class="pull-left">Tags: {{ (", ").join(image['tags'])}}</p>
                    {% endif %}
                    <span id="delete_{{loop.index}}" class="pull-right glyphicon glyphicon-trash" aria-label='delete'></span>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4 shadow">
            <form id="form">
                <h3>Upload an Image</h3>
                <hr/>
                <div class="form-group">
                    <input name="file" type="file"/>
                </div>
                <div class="form-group">
                    <input class="form-control" name="tags" type="text"placeholder="Tags"/>
                    <p class="help-block">Add usernames separated by commas</p>
                </div>
                <p class="message"></p>
                <button id="upload" class="btn btn-primary btn-lg btn-block" type="button"><span class="glyphicon glyphicon-upload"></span> Upload</button>
            </form>
        </div>
    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="../static/js/vendor/bootstrap.min.js"></script>
        <script type="application/javascript" src="../static/js/js.cookie.js"></script>
        <script type="application/javascript" src="../static/js/jquery.session.js"></script>
        <script type="application/javascript" src="../static/js/userfeed.js"></script>
    </body>
</html>
