/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  padding: 20px 20px 50px;
}

.glyphicon-trash{
  cursor: pointer;
}
